a {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #1396e2;
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
a:hover h1, a:hover h2, a:hover h3, a:hover h4 {
  color: #1396e2;
}
a:focus, a:active {
  outline: none !important;
  text-decoration: none;
}
a h1, a h2, a h3, a h4 {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #073855;
}

blockquote {
  border: none;
  display: table;
  margin-bottom: 0;
  padding: 20px 10%;
  width: 100%;
}
blockquote figure {
  display: table-cell;
  vertical-align: middle;
}
blockquote figure .image {
  background-color: #5a5a5a;
  height: 180px;
  position: relative;
  overflow: hidden;
  width: 160px;
}
blockquote figure .image:after {
  bottom: 0px;
  content: "";
  height: 0px;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: 0;
  width: 0px;
}
blockquote figure .image:before {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 20px;
  left: 0;
  width: calc(100% - 20px);
  position: absolute;
}
blockquote .cite {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}
blockquote .cite p {
  font-family: Georgia, serif;
  font-size: 24px;
  font-style: italic;
}
blockquote .cite footer {
  color: #073855;
}

body {
  background-color: #fff;
  color: #5a5a5a;
  font-family: 'MuseoSans', sans-serif;
}

dl {
  margin-bottom: 10px;
  margin-left:0px;
}
dl dt {
  float: left;
  width:130px;
}
dl dd {
  margin-bottom: 8px;
  text-align: left;
  margin-left:5px;
  display:block;
  overflow:hidden;
}
dl dd .rating {
  float: right;
  position: relative;
  top: -5px;
}

h1 {
  font-size: 28px;
  font-weight: lighter;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 15px;
}

h2 {
  font-size: 24px;
  font-weight: lighter;

}

h3 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
}

h4 {
  font-size: 14px;
  font-weight: lighter;
}

hr {
  border-color: rgba(0, 0, 0, 0.1);
}
hr.thick {
  border-width: 2px;
}
hr.divider {
  border-color: #1396e2;
  border-width: 2px;
  width: 40px;
}

p {
  /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;*/
  font-family: "Arial", sans-serif;
}

section {
  position: relative;
}

ul.list-links {
  margin-top: -5px;
}
ul.list-links li a {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #5a5a5a;
  display: block;
  padding: 5px 0;
  padding-left: 0;
}
ul.list-links li a:hover {
  color: #1396e2;
  padding-left: 5px;
}

.page-sub-page #page-content:after {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, white 80%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(80%, white));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, white 80%);
  background: -o-linear-gradient(top, #f1f1f1 0%, white 80%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, white 80%);
  background: linear-gradient(to bottom, #f1f1f1 0%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );
  content: "";
  left: 0;
  height: 110px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.page-sub-page.page-submit h2 {
  border: none;
  margin-bottom: 25px;
  padding-bottom: 0;
}
.page-sub-page.page-submit .submit-pricing {
  margin-bottom: 0;
}
.page-sub-page.page-create-account .radio {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 30px;
}
.page-sub-page.page-create-account h3 {
  margin-top: 0;
}
.page-sub-page.page-create-agency #page-content form > section {
  margin-bottom: 30px;
}
.page-sub-page.page-contact #page-content section {
  margin-bottom: 30px;
}
.page-sub-page.page-legal #page-content section {
  margin-bottom: 40px;
}
.page-sub-page.page-legal #page-content section h3 {
  font-weight: normal;
}
.page-sub-page.page-agency-detail #page-content address {
  position: relative;
}

#overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99998;
}

#similar-properties {
  padding-bottom: 20px;
}
#similar-properties h2 {
  margin-bottom: 10px !important;
}

.background-color-grey-light {
  background-color: #f3f3f3;
}

.background-color-grey-medium {
  background-color: #5a5a5a;
}

.background-color-grey-dark {
  background-color: #2a2a2a;
}

.background-color-default {
  background-color: #1396e2;
}

.background-color-default-darker {
  background-color: #073855;
}

.background-image {
  left: 0;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}

.button-icon .fa {
  margin: 0 10px;
}

.center {
  text-align: center;
}

.has-fullscreen-map {
  position: relative;
}
.has-fullscreen-map:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  animation: animate-loading 3s infinite linear;
  -webkit-animation: animate-loading 3s infinite linear;
  content: "\f013";
  color: #2a2a2a;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 26px;
  height: 30px;
  bottom: 0;
  right: 0;
  margin: auto;
}
.has-fullscreen-map:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.has-fullscreen-map.loaded:before, .has-fullscreen-map.loaded:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.has-dark-background {
  color: #fff;
}
.has-dark-background a {
  color: #fff;
}

.link-icon {
  color: #2a2a2a;
}
.link-icon .fa {
  color: #1396e2;
  margin: 0 10px;
}

.link-arrow {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #2a2a2a;
  display: inline-block;
}
.link-arrow:after {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f105";
  color: #1396e2;
  left: 0;
  font-size: 18px;
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
.link-arrow:hover {
  color: #2a2a2a;
  cursor: pointer;
}
.link-arrow:hover:after {
  color: #073855;
  left: 5px;
}
.link-arrow.geo-location:after {
  content: "\f041";
  top: -1px;
}
.link-arrow.geo-location:hover:after {
  left: 0;
  top: -5px;
}
.link-arrow.back:after {
  display: none;
}
.link-arrow.back:before {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f104";
  color: #1396e2;
  right: 0;
  font-size: 18px;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
.link-arrow.back:hover {
  color: #2a2a2a;
  cursor: pointer;
}
.link-arrow.back:hover:before {
  color: #073855;
  right: 5px;
}

.no-border {
  border: none !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.opacity-10 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

.opacity-20 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

.text-align-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

/****
  A
****/
#about-us #ceo-section .cite-title {
  font-size: 36px;
  font-weight: lighter;
}
#about-us #ceo-section h3 {
  color: #073855;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
}
#about-us #ceo-section .cite {
  display: inline-block;
  margin: 20px 0;
  width: 70%;
}
#about-us .image {
  display: inline-block;
  margin-bottom: 10px;
}
#about-us .image img {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
#about-us .divider-image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  margin: 30px 0;
  max-width: 100%;
}
#about-us .member {
  margin-bottom: 60px;
}

.account-profile {
  position: relative;
}
.account-profile h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
.account-profile img {
  width: 100%;
  margin-bottom: 30px;
}
.account-profile form {
  position: relative;
}
.account-profile section {
  margin-bottom: 0px;
}
.account-profile section#agency {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.account-profile section#contact label, .account-profile section#agency label {
  display: block;
  line-height: 38px;
}
.account-profile section#social .input-group {
  width: 100%;
}
.account-profile section#social .input-group .input-group-addon {
  background-color: #2a2a2a;
  width: 40px;
}
.account-profile section#social .input-group .input-group-addon i {
  color: #fff;
}
.account-profile .contact-fields {
  display: table;
  width: 100%;
}
.account-profile .contact-fields dt {
  clear: both;
}
.account-profile .contact-fields dd {
  float: right;
  margin-bottom: 5px;
  width: 65%;
}
.account-profile .switch {
  position: absolute;
  top: 0;
  right: 0;
}
.account-profile .switch label {
  line-height: 0 !important;
}
.account-profile .switch .icheckbox {
  margin-right: 0;
}

.geo-location-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}
.geo-location-wrapper:hover .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  right: 50px;
  pointer-events: none;
}
.geo-location-wrapper .btn {
  background-color: #fff;
  color: #073855;
  position: absolute;
  right: 0px;
  top: 60px;
  width: 38px;
}
.geo-location-wrapper .btn:hover {
  background-color: #fff;
  color: #1396e2;
}
.geo-location-wrapper .fa {
  font-size: 20px;
}
.geo-location-wrapper .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
  background-color: #073855;
  padding: 10px;
  position: absolute;
  right: 40px;
  text-align: right;
  top: 0;
  pointer-events: none;
}
.geo-location-wrapper .text:after {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #073855;
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  margin: auto;
}

.agency {
  border-bottom: 1px solid #f3f3f3;
  display: table;
  font-size: 12px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.agency address {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}
.agency address h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.agency h2 {
  border: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}
.agency dl {
  display: inline-block;
  width: 50%;
}
.agency dl dd {
  margin-bottom: 4px;
}
.agency .agency-image {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
}
.agency .wrapper {
  display: table-cell;
  width: 70%;
}

.agency-image img {
  max-width: 100%;
}

.agent {
  margin-bottom: 60px;
  position: relative;
  padding-left: 180px;
}
.agent .agent-image {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}
.agent .agent-image:hover {
  top: -5px;
}
.agent .agent-image img {
  width: 100%;
}
.agent .wrapper h2 {
  border: none;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 0;
}
.agent .wrapper aside {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.agent .wrapper dl {
  border-top: 1px solid #f3f3f3;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 12px;
}
.agent .wrapper dl dd {
  margin-bottom: 4px;
}

#agent-detail h3 {
  margin-bottom: 20px;
  margin-top: 0;
}
#agent-detail .property h3 {
  margin: 5px 0 3px 0;
}
#agent-detail .agent-image img {
  width: 100%;
}
#agent-detail .agent-social .btn {
  width: 36px;
}
#agent-detail .agency-logo {
  display: block;
  position: relative;
}
#agent-detail .agency-logo:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f105";
  color: #1396e2;
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 20px;
  right: 20px;
}